<div class="footer">
    <div class="container">
        <div class="footer-poweredby">
            Powered By <a href="http://human-phenotype-ontology.org">Human Phenotype Ontology</a> and <a href="http://bio-lark.org/">Bio-LarK</a>
        </div>
        <ul class="logo-list">
            <li class="logo-list-item logo-list-item-monarch">
                <img src="images/logo-monarch.png" alt="">
            </li>
            <li class="logo-list-item logo-list-item-charite">
                <img src="images/logo-charite.jpeg" alt="" class="logo">
            </li>
        </ul>
    </div>
</div>
