<div>
    <!-- <style>
    .details {
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .detailsa h3 {
        font-size: 14px;
        margin: 0;
        color: rgba(0, 0, 0, 0.87);
    }
    .detailsa {
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 0;
    }
    </style> -->

    <div class="container">
        <div class="title">
            <div class="pull-right text-muted" ng-hide="loadingTracker.active()">
                Updated {{ phenotype.changed * 1000 | date:'d/M/yyyy' }}
            </div>
            <div class="media">
                <div class="pull-left">
                    <img src="http://dummyimage.com/70x70/dddddd/dddddd" alt="" class="media-object">
                </div>
                <div class="media-body">
                    <h1>{{ phenotype.title || 'Loading...' }}
                    </h1>
                    <div style="color: rgba(0,0,0,0.5); margin-top: 7px;" ng-show="phenotype.concept_synonym.length">
                        <small style="font-size: 16px;">
                            Synonyms:
                            <span ng-repeat="synonym in phenotype.concept_synonym">
                                {{ synonym.synonym_value }}
                                <span ng-show="!$last">,</span>
                            </span>
                        </small>
                    </div>
                    <div style="margin-top: 5px;">
                        <p class="text-muted"></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="panels">
            <div class="row" ng-hide="loadingTracker.active()">
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>An HPO summary for this concept is currently under development.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        
                            <h4 style="margin: 0; font-weight: bold; color:rgba(0,0,0,0.6); margin-bottom: 14px; font-size: 14px;">Alternative IDs</h4>
                            <div class="text-muted" ng-hide="phenotype.concept_altid.length">
                                No alternative IDs.
                            </div>
                            <ul class="list-unstyled" style="margin: 0;">
                                <li ng-repeat="altid in phenotype.concept_altid">
                                    {{ altid }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spinner" ng-show="loadingTracker.active();">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>
        </div>





        <div class="panels">
            <form class="form-inline pull-right" role="form" ng-show="phenotype.concept_parent.length > 1">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Filter</label>
                    <input type="text" class="form-control panels-filter" id="exampleInputEmail2" placeholder="Filter" ng-model="filterClassification">
                </div>
                <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
            </form>

            <h2>Classification</h2>

            <div ng-hide="loadingTracker.active()">
                <p ng-hide="phenotype.concept_parent.length" class="text-muted">
                    Root phenotype.
                </p>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="row" ng-repeat="row in phenotype.concept_parent | filter:filterClassification |  inSlicesOf:3">
                            <div class="col-sm-4" ng-repeat="phenotype in row">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object">
                                            </div>
                                            <div class="media-body">
                                                <h5>
                                                    <a ui-sref="phenotype({phenotypeId: phenotype.nid})">
                                                        {{ phenotype.concept_label }}
                                                    </a> 
                                                </h5>

                                                <p>An HPO summary for this concept is currently under development.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div style="font-size: 12px; color: grey; text-transform: uppercase">
                                                Location in hierarchy
                                            </div>

                                            <a href="" ng-click="toggleParents(phenotype);">
                                                <i class="fa" ng-class="{
                                                    'fa-caret-right': !phenotype.isShowingParents,
                                                    'fa-caret-down': phenotype.isShowingParents,
                                                }"></i> 
                                                {{ phenotype.concept_label }}
                                            </a>
                                            <div dx-start-with="phenotype" ng-show="phenotype.isShowingParents" style="padding-left: 10px;">
                                                <div ng-repeat="parent in $dxPrior.concept_parent" ng-click="toggleParents(parent); $event.stopPropagation()" style="padding-left: 20px;">
                                                    <a href="">
                                                        <i ng-class="{
                                                            'fa-caret-right': !parent.isShowingParents,
                                                            'fa-caret-down': parent.isShowingParents,
                                                        }" class="fa" ng-show="parent.concept_parent.length > 0"></i>
                                                        
                                                        {{ parent.concept_label }}
                                                    </a>
                                                    <div dx-connect="parent" ng-show="parent.isShowingParents"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spinner" ng-show="loadingTracker.active();">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>

        </div>


        <div class="panels">
            <form class="form-inline pull-right" role="form" ng-show="phenotype.concept_child.length > 1">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Filter</label>
                    <input type="text" class="form-control panels-filter" id="exampleInputEmail2" placeholder="Filter" ng-model="filterChildren">
                </div>
                <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
            </form>

            <h2>Children</h2>
            <div class="spinner" ng-show="loadingTracker.active();">
                <i class="fa fa-spin fa-circle-o-notch"></i>
            </div>
            <div ng-hide="loadingTracker.active()">
                <p ng-hide="phenotype.concept_child.length" class="text-muted">
                    No children.
                </p>

                <div class="row" ng-repeat="row in phenotype.concept_child | filter:filterChildren |  inSlicesOf:3">
                    <div class="col-sm-4" ng-repeat="phenotype in row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="pull-left">
                                        <img src="http://dummyimage.com/40x40/dddddd/dddddd" alt="" class="media-object">
                                    </div>
                                    <div class="media-body">
                                        <h5>
                                            <a ui-sref="phenotype({phenotypeId: phenotype.nid})">
                                                {{ phenotype.concept_label }}
                                            </a>
                                        </h5>

                                        <p>An HPO summary for this concept is currently under development.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
